<div class="wrap">
    <img src="./assets/images/owner/insurance-pc.webp" alt="" class="banner" id="insuranceBanner">
    <app-owner-main-title [title]="title.title" [description]=""></app-owner-main-title>
    <div class="row mt-100">
        <div class="row justify-content-center">
            <div class="col-10 col-sm-8 col-lg-5 col-xl-5 center-container">
                <h2 class="title">Bảo hành xe mới</h2>
                <div class="content">
                    <p>Mỗi chiếc xe Volkswagen đều được tạo ra để không làm bạn phải lo lắng. Chúng tôi luôn cố
                        gắng hết sức để đảm bảo rằng bạn sẽ hài lòng với chiếc xe Volkswagen vừa mua.</p>
                    <p>Đó là lý do tại sao khi bạn đặt mua xe mới ởbất kỳ hệ thống Đại lý ủy quyền của Volkswagen
                        tại Việt Nam, chúng tôi luôn cam kết cung cấp một dịch vụ bảo hành toàn diện để đảm bảo chiếc
                        xe của bạn không gặp hư hỏng và phải sửa chữa trong suốt 3 năm đầu hoặc 100.000 km (tùy điều
                        kiện
                        nào đến
                        trước).</p>
                    <p>*Lưu ý: Sẽ có những trường hợp loại trừ không được áp dụng bảo hành, vui lòng tham khảo trong mục
                        <a href="/legal" class="link">Điều khoản và Điều kiện </a>
                        của chúng tôi hoặc liên hệ đại lý ủy quyền để biết thêm chi tiết
                    </p>
                    <a href="https://www.vw.com.vn/vi/volkswagen-dealer-search.html" class="link">Tìm đại lý ủy quyền của
                        Volkswagen</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-50">
        <div class="row" style="justify-content:space-evenly;">
            <div class="col-10 col-sm-5 col-lg-4 col-xl-4 center-container" style="margin-bottom:50px;">
                <h2 class="subTitle">Bảo hành phụ tùng</h2>
                <div style="margin-top:30px;">
                    <p>Tất cả phụ tùng chính hãng do VW Việt Nam phân phối đều được bảo hành 2 năm (không giới hạn số
                        Ki-lô-mét) kể từ ngày lắp hoặc ngày mua (tùy điều kiện nào đến trước). Các phụ tùng có thời hạn
                        bảo hành đặc biệt sẽ được thông báo đến bạn tại thời điểm mua hàng. Việc bảo hành 2 năm sẽ không
                        được áp dụng đối với các phụ tùng bảo hành theo xe, thời hạn bảo hành của phụ tùng bảo hành theo
                        xe sẽ được tính dựa trên thời hạn bảo hành còn lại của xe.</p>
                    <p style="margin-top:30px;">*Lưu ý: Sẽ có những trường hợp loại trừ không được áp dụng bảo hành, vui
                        lòng liên hệ đại lý ủy
                        quyền để biết thêm chi tiết.</p>
                    <a href="https://www.vw.com.vn/vi/volkswagen-dealer-search.html" class="link">Tìm đại lý ủy quyền của
                        Volkswagen</a>
                </div>
            </div>
            <div class="col-10 col-sm-5 col-lg-4 col-xl-4 center-container" style="margin-bottom:50px;">
                <h2 class="subTitle">Bảo hành phụ kiện</h2>
                <div style="margin-top:30px;">
                    <p>Mỗi chiếc xe Volkswagen đều được tạo ra để không làm bạn phải lo lắng. Chúng tôi luôn cố
                        gắng hết sức để đảm bảo rằng bạn sẽ hài lòng với chiếc xe Volkswagen vừa mua.</p>
                    <p>Đó là lý do tại sao khi bạn đặt mua xe mới ởbất kỳ hệ thống Đại lý ủy quyền của Volkswagen
                        tại Việt Nam, chúng tôi luôn cam kết cung cấp một dịch vụ bảo hành toàn diện để đảm bảo chiếc
                        xe của bạn không gặp hư hỏng và phải sửa chữa trong suốt 3 năm đầu hoặc 100.000 km (tùy điều
                        kiện
                        nào đến
                        trước).</p>
                    <p style="margin-top:30px;">*Lưu ý: Sẽ có những trường hợp loại trừ không được áp dụng bảo hành, vui
                        lòng liên hệ đại lý ủy quyền để biết thêm chi tiết
                    </p>
                    <a href="https://www.vw.com.vn/vi/volkswagen-dealer-search.html" class="link">Tìm đại lý ủy quyền của
                        Volkswagen</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="toast-container">
    <p-toast [breakpoints]="{ '576px': { width: '300px' } }"></p-toast>
</div>
<app-cart></app-cart>
<app-facebook-chat></app-facebook-chat>