<div class="wrap">
    <div class="container">
        <div class="row">
            <div class="legal-container">

                <h2>CHÍNH SÁCH VẬN CHUYỂN</h2>
                <div class="p-h4">
                    <p>Sản Phẩm được phân phối thông qua hệ thống đại lý của VWVN. Chúng tôi không áp dụng chính
                        sách vận
                        chuyển
                        trực tiếp tới Khách Hàng mua hàng qua Showroom.vw.com.vn</p>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="toast-container">
    <p-toast [breakpoints]="{ '576px': { width: '300px' } }"></p-toast>
</div>
<app-cart></app-cart>
<app-facebook-chat></app-facebook-chat>