<div class="wrap news-detail">
    <div class="container">
        <div class="row">
            <h3 class="text-center title col-12 my-4">{{news.title}}</h3>
            <div style="width: 100%; height: 100%" class="news-content">
                <div class="content col-12"></div>
            </div>

        </div>
    </div>

</div>
<div class="toast-container">
    <p-toast [breakpoints]="{ '576px': { width: '300px' } }"></p-toast>
</div>
<app-cart></app-cart>
<app-facebook-chat></app-facebook-chat>