<div class="wrap">
    <div class="row align-items-center">
        <div class="col-12 col-sm-12 col-lg-6 col-xl-6" id="bannerLifestyleContainer">
            <img style="object-position: 50% 50%;" src="./assets/images/owner/lifestyle.webp" alt=""
                id="bannerLifestyle">
            <div class="overlay mobile-content">
                <h2 class="title mainTitleWhite">Volkswagen cho tất cả mọi người: cùng sáng tạo phong cách riêng của
                    chính bạn với các sản phẩm nằm trong bộ sưu tập Lifetyle.</h2>
            </div>
        </div>
        <!-- <div class="col-12 col-12 col-sm-6 col-lg-6 col-xl-6 d-flex justify-content-start mainTitleWhite" style="flex-direction: column; padding:50px;">
            <h2 class="title">Phụ kiện hổ trợ vận chuyển của Volkswagen</h2>
        </div> -->
        <div class="col-12 col-sm-12 col-lg-5 col-xl-5 d-flex justify-content-start"
            style="flex-direction: column; padding:50px;">
            <h2 class="title mainTitle">Volkswagen cho tất cả mọi người: cùng sáng tạo phong cách riêng của chính bạn
                với các sản phẩm nằm trong bộ sưu tập Lifetyle.</h2>
            <p style="margin-top:20px;">Volkswagen là sự kết hợp cả về chất lượng và thiết kế - điều mà đồng thời được
                ứng dụng trong bộ sưu tập
                Lifestyle của chúng tôi. Từ mô hình xe hơi cho đến các sản phẩm về thời trang dành cho người hâm mộ.
                Liên hệ đại lý ủy quyền của Volkswagen.</p>
        </div>
    </div>
    <div class="row mt-100 justify-content-around">
        <div class="col-12 col-sm-12 col-lg-6 col-xl-6">
            <img style="object-position: 50% 50%;"
                src="https://vw-image.s3.ap-southeast-1.amazonaws.com/video/lifestyle-1.webp" alt=""/>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
            <div style="padding:50px;">
                <p style="font-weight:bold; font-size: 1.5rem;">Lấy ý tưởng từ những huyền thoại</p>
                <p>Sự thanh lịch vượt thời gian. Với bộ sưu tập Cổ điển, chúng tôi luôn tôn trọng nguyên bản nhưng vẫn
                    tìm thấy cho mình không gian riêng cho sự sáng tạo. Khám phá các sản phẩm của chúng tôi.</p>
                <a href="https://www.vw.com.vn/vi/volkswagen-dealer-search.html" class="link">Tìm đại lý ủy quyền của
                    Volkswagen</a>
            </div>
        </div>
    </div>

    <div class="row mt-100 justify-content-around">
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
            <div style="max-width: 1024px;">
                <div id="instructions" style="margin-bottom: 30px;">
                    <video
                        src="https://vw-image.s3.ap-southeast-1.amazonaws.com/video/H%C3%A3y+t%E1%BA%A1o+ra+ti%C3%AAu+%C4%91%E1%BB%81+-+Volkswagen+Vi%E1%BB%87t+Nam.mp4"
                        alt="" autoPlay loop muted controlsList="nodownload"></video>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-lg-6 col-xl-6">
            <img style="object-position: 50% 50%;"
                src="https://vw-image.s3.ap-southeast-1.amazonaws.com/video/lifestyle-2.webp" alt=""/>
        </div>
    </div>

    <div class="row justify-content-around" style="margin-top:10px;">
        <div class="col-12 col-sm-12 col-lg-5 col-xl-5">
            <div style="padding:50px;">
                <h2>Chính hãng và độc đáo</h2>
                <p>Bộ sưu tập Volkswagen cung cấp đa dạng các mặt hàng thời trang, phụ kiện và các sản phẩm thiết thực
                    cho
                    cuộc sống hàng ngày. Đảm bảo rằng bạn thật phong cách khi ra đường.</p>
            </div>

            <video
                src="https://vw-image.s3.ap-southeast-1.amazonaws.com/video/H%C3%A3y+t%E1%BA%A1o+ra+ti%C3%AAu+%C4%91%E1%BB%81+-+Volkswagen+Vi%E1%BB%87t+Nam-1.mp4"
                alt="" autoPlay loop muted controlsList="nodownload"></video>
        </div>
        <div class="col-12 col-sm-12 col-lg-5 col-xl-5">
            <img style="object-position: 50% 50%;"
                src="https://vw-image.s3.ap-southeast-1.amazonaws.com/video/lifestyle-3.webp" alt=""/>
            <img style="object-position: 50% 50%;"
                src="https://vw-image.s3.ap-southeast-1.amazonaws.com/video/lifestyle-4.webp" alt=""/>
        </div>
    </div>

    <div class="row justify-content-center align-items-center mt-100">
        <div class="col-12 col-sm-6 col-lg-6 col-xl-6 d-flex justify-content-start"
            style="flex-direction: column; padding:0 50px;">
            <h2 class="title titleLeft">Bộ sưu tập dành cho trẻ em sẽ khiến bạn muốn quay về tuổi thơ</h2>
            <p style="padding: 20px 0 0 20px; font-size: 17px;">Luôn tò mò, cởi mở và không bị ngăn cấm, nhiều màu sắc như chính cuộc
                sống. Đó là tất cả những gì về một
                đứa trẻ - và cả những gì mà bộ sưu tập này thể hiện. Từ trang phục, đồ chơi , xe hơi mô hình hay đồ chơi
                dễ thương, bạn chắc chắn sẽ tìm thấy thứ gì đó cho những người hâm mộ nhỏ tuổi của chúng ta.</p>
        </div>
    </div>

    <div class="row" style="justify-content:space-evenly; margin-top:50px;">
        <div class="col-12 col-sm-12 col-lg-6 col-xl-6">
            <img src="https://vw-image.s3.ap-southeast-1.amazonaws.com/video/lifestyle-5.webp" alt=""
                style="padding:25px;"/>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
            <div>
                <img src="https://vw-image.s3.ap-southeast-1.amazonaws.com/video/lifestyle-6.webp" alt=""
                    style="padding:25px;"/>
                <img src="https://vw-image.s3.ap-southeast-1.amazonaws.com/video/lifestyle-7.webp" alt=""
                    style="padding:25px;"/>
            </div>
        </div>
    </div>

    <div class="row" style="justify-content:space-evenly; margin-top:50px;">
        <div class="col-12 col-sm-12 col-lg-6 col-xl-6">
            <div style="padding:25px;">
                <img src="https://vw-image.s3.ap-southeast-1.amazonaws.com/video/lifestyle-8.webp" alt=""/>
                <div style="margin-top:20px;">
                    <h2 style="font-size:19px;">Ngập tràn niềm vui với mô hình thu nhỏ của những dòng xe</h2>
                    <p style="font-size:17px;">Các mô hình với đa dạng tiêu chuẩn: 1:18, 1:43 hoặc 1:87 bạn có thể tùy chọn kích thước của bản sao.
                        Cho dù đó là Passat, Beetle hay Touran: Mỗi phiên bản sẽ là bản sao chính xác của những anh lớn.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
            <div style="padding:25px;">
                <img src="https://vw-image.s3.ap-southeast-1.amazonaws.com/video/lifestyle-9.webp" alt="" />
                <div style="margin-top:20px;">
                    <h2 style="font-size:19px;">Tải bộ sưu tập Lifestyle</h2>
                    <p style="font-size:17px;">Phù hợp cho tất cả mọi người: mọi thứ về bộ sưu tập Lifestyle Volkswagen</p>
                    <a class="link"
                        href="https://www.vw.com.vn/idhub/content/dam/onehub_master/basic/owners-and-users/accessories/lifestyle/downloads/Lifestyle-Catalogue-2018-EN-low.pdf">Tải
                        bộ sưu tập Lifestyle</a>
                </div>
            </div>
        </div>
    </div>

    <div class="toast-container">
        <p-toast [breakpoints]="{ '576px': { width: '300px' } }"></p-toast>
    </div>
</div>
<app-cart></app-cart>
<app-facebook-chat></app-facebook-chat>