<div class="wrap">
  <div class="viloran-new__banner">
    <div class="viloran-new__banner__introduce container">
      <p class="viloran-new__banner__introduce__title">Viloran</p>
      <p class="viloran-new__banner__introduce__text">Volkswagen Viloran - Dòng MPV cao cấp hạng thương gia, đẳng cấp Đức</p>
      <p class="viloran-new__banner__introduce__subtitle">Giá công bố: </p>
      <p class="viloran-new__banner__introduce__price mt-3">
        Viloran Premium: 1.989.000.000 VNĐ
      </p>

      <p style="margin-top: -10px;" class="viloran-new__banner__introduce__price ">
        Viloran Luxury: 2.188.000.000 VNĐ
      </p>
      <div class="mt-5">
        <app-button name="Đặt lịch lái thử" type="secondary" link="/product/test-drive" size="medium"></app-button>
      </div>
    </div>
  </div>
  <div class="viloran-new__body">
    <!-- NAV -->
    <div class="viloran-new__nav">

      <div class="row">
        <div class="col-lg-8 col-md-12">

          <ul class="viloran-new__nav__list">
            <li class="mr-4">Tổng quan</li>
            <li class="mr-4" (click)="goToElement('#design')">Ngoại thất</li>
            <li class="mr-4" (click)="goToElement('#interior')">Nội thất tiện nghi</li>
            <li class="mr-4" (click)="goToElement('#operation')">Khả năng vận hành</li>
            <li class="mr-4" (click)="goToElement('#sss')">Hệ thống an toàn và hỗ trợ</li>
          </ul>
          <!-- <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li>
            </ul>
          </div> -->
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="viloran-new__nav__btn">
            <div class="mr-2">
              <app-button name="Đặt ngay" type="primary" link="/viloran/deposit" size="medium"></app-button>
            </div>
            <div class="">
              <app-button name="Lái thử" type="secondary" link="/product/test-drive" size="medium"></app-button>
            </div>
          </div>
        </div>

      </div>

    </div>

    <!-- General Infomation -->
    <div class="viloran-new__general mb-5">
      <div class="container">
        <h2 class="viloran-new__general__title">Viloran</h2>
        <div class="viloran-new__general__container">
          <img src="../../../../../assets/images/viloran/viloran_general.png" alt="">

        </div>
      </div>
      <div class="viloran-new__general__list row">

        <div class="col-lg col-sm-6  text-center viloran-new__general__item ">
          <h4>Dung tích xy lanh</h4>
          <span>1984 cc</span>
        </div>
        <div class="col-lg col-sm-6  text-center  viloran-new__general__item ">
          <h4>Loại động cơ</h4>
          <span>2.0L TSI</span>
        </div>
        <div class="col-lg col-sm-6  text-center viloran-new__general__item ">
          <h4>Công suất cực đại</h4>
          <span>220 / 4.900-6.700 hp/rpm</span>
        </div>
        <div class="col-lg col-sm-6  text-center viloran-new__general__item ">
          <h4>Mô men xoắn cực đại</h4>
          <span>350 / 1.600-4.300 N.m/rpm</span>
        </div>
        <div class="col-lg col-sm-6  text-center viloran-new__general__item ">
          <h4>Hộp số</h4>
          <span>Ly hợp kép DSG 7 cấp</span>
        </div>

      </div>

      <div class="container mt-5">
        <div class="expandable-panel">
          <div class="panel-header" (click)="togglePanel()">
            <div class="panel-icon__container">
              <div class="panel-icon" [ngClass]="{'panel-icon--open':isExpanded,'panel-icon--close':!isExpanded}">
                <i *ngIf="isExpanded" class="fa fa-close"></i>
                <i *ngIf="!isExpanded" class="fa fa-plus"></i>
              </div>
            </div>
          </div>
          <div *ngIf="isExpanded" class="panel-content">
            <p-carousel [autoplayInterval]="2000" [value]="listImage">
              <ng-template let-image pTemplate="item">
                <img class="carou-image" [src]="image.ImageUrl" [alt]="'viloran'" />
              </ng-template>
            </p-carousel>
          </div>
        </div>
      </div>
    </div>

    <!-- Brochure -->
    <div class="my-5">
      <app-category-brochure [name]="brochure.name"
        [link]="brochure.link"></app-category-brochure>
    </div>

    <!-- Prebooking -->
    <div class="viloran-new__prebooking">

      <div class="container-fluid  ">
        <div class="booking p-3 p-md-5 mt-3">
          <div class="row">
            <div class="col-12 col-md-5">
              <h3 class="font-weight-bold text-white" style="font-size: 32px;">{{preBooking.title}}
              </h3>
              <a class="btn-book my-5 zoomOwn" [routerLink]="preBooking.link.value">
                {{preBooking.link.name}}
              </a>
            </div>
            <div class="col-12 col-md-7">
              <img [src]="preBooking.image" alt="">
            </div>
          </div>
        </div>
      </div>

    </div>


    <!-- Infomation -->
    <!-- Component Product -->
    <div *ngFor="let item of listProductBanner">
      <app-product-banner [id]="item.id" [subtitle]="item.subtitle" [title]="item.title" [banner]="item.banner" [bannerMobile]="item.bannerMobile"
        [listInfo]="item.listInfo"></app-product-banner>
    </div>

    <!-- Product Version -->
    <div class="product-version my-5 container">
      <p-carousel [autoplayInterval]="5000" [value]="listProductVersion">
        <ng-template let-productVersion pTemplate="productVersion">
          <app-product-version-detail [productVersion]="productVersion"></app-product-version-detail>
        </ng-template>
      </p-carousel>
      
    </div>

    <!-- Category Reference -->
      <app-category-reference [title]="category.title" [mt]="category.mt"
        [description]="category.description" [link]="category.link"></app-category-reference>
  <div class="mt-5">
    <app-category-photo-gallery  [title]="gallery.title" [mt]="gallery.mt"
    [content]="gallery.content"></app-category-photo-gallery>

  </div>
      </div>


  <app-menu-right *ngIf="!isDeposit"></app-menu-right>
  <app-like></app-like>
  <div class="toast-container">
    <p-toast [breakpoints]="{ '576px': { width: '300px' } }"></p-toast>
  </div>
  <app-cart></app-cart>
  <app-facebook-chat></app-facebook-chat>
</div>