<div class="wrap">
  <img src="./assets/images/cate/tiguan/newbanner.jpg" alt="" class="banner" id="tiguanBanner"/>
  <div class="text-center py-5 px-3 wrap-name">
    <h1 class="text-white font-weight-bold fs-head-cate">The new Tiguan</h1>
  </div>
  <div class="container mt-4">
    <div class="summary d-flex flex-wrap">
      <div class="mr-5 mt-3">
        <div class="text-body">Giá bán từ (VNĐ):</div>
        <h4 class="font-weight-bolder">1,999,000,000</h4>
      </div>
      <div class="mr-5 mt-3">
        <div class="text-body">Công suất tối đa:</div>
        <h4 class="font-weight-bolder">180 Hp</h4>
      </div>
      <div class="mr-5 mt-3">
        <div class="text-body">Mô men tối đa:</div>
        <h4 class="font-weight-bolder">320 Nm</h4>
      </div>
      <div class="mr-5 mt-3">
        <div class="text-body">Tiêu thụ nhiên liệu kết hợp:</div>
        <h4 class="font-weight-bolder">8,9 lit/100km</h4>
      </div>
      <div class="mr-5 mt-3">
        <div class="text-body">Tiêu thụ nhiên liệu trong đô thị:</div>
        <h4 class="font-weight-bolder">13,17 lit/100km</h4>
      </div>

      <div class="mr-5 mt-3">
        <div class="text-body">Tiêu thụ nhiên liệu ngoài đô thị:</div>
        <h4 class="font-weight-bolder">6,7 lit/100km</h4>
      </div>
    </div>
  </div>
  <!-- Tải brochure -->
  <div class="container-fluid">
    <div class="doawload-brochure mt-5">
      <div class="line"></div>
      <a
        href="https://www.fshare.vn/file/5PSNKL29SWXP"
        class="brochure zoomOwn mobile-size"  download target="_blank"
        >Tải Brochure</a
      >
      <div class="line"></div>
    </div>
  </div>
  <!-- title -->
  <!-- <div class="container">
    <h1 class="font-weight-bold text-black text-center mt-70 fs-title-cate">
      The new Tiguan
    </h1>
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <p class="text-body mt-4">
          "Ngay tại thế hệ đầu tiên Tiguan đã trở thành mẫu xe bán chạy top
          đầu trong phân khúc SUV cỡ trung. Với hơn 6 triệu xe đã xuất xưởng
          và bán ra trên toàn cầu, Tiguan tự hào là chiếc SUV bán chạy nhất
          trong phân khúc tại Châu Âu và là sản phẩm Volkswagen thành công
          nhất trên thế giới hiện nay."
        </p>
      </div>
    </div>
  </div> -->

  <!-- <div class="container-fluid mt-100">
    <h1 class="text-black font-weight-bold text-center fs-title-cate">
      The new Tiguan
    </h1>
    <div class="row mt-5">
      <div class="col-12 col-md-7 pl-0">
        <img src="./assets/images/cate/tiguan/newtiguan1.jpg" alt="" />
      </div>
      <div class="col-12 col-md-5 mt-4 mt-md-0">
        <p-accordion (onOpen)="onSupportTabOpen($event)">
          <p-accordionTab header="Giới thiệu về Tiguan" [selected]="true">
            <p class="text-black mt-2">
              "Ngay tại thế hệ đầu tiên Tiguan đã trở thành mẫu xe bán chạy top
              đầu trong phân khúc SUV cỡ trung. Với hơn 6 triệu xe đã xuất xưởng
              và bán ra trên toàn cầu, Tiguan tự hào là chiếc SUV bán chạy nhất
              trong phân khúc tại Châu Âu và là sản phẩm Volkswagen thành công
              nhất trên thế giới hiện nay."
            </p>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
  </div> -->

  <div class="container">
    <h1 class="font-weight-bold text-black text-center mt-70 fs-title-cate">
      Tiguan tự hào là chiếc SUV bán chạy nhất
    </h1>
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <p class="text-body mt-4">
          "Ngay tại thế hệ đầu tiên Tiguan đã trở thành mẫu xe bán chạy top đầu
          trong phân khúc SUV cỡ trung. Với hơn 6 triệu xe đã xuất xưởng và bán
          ra trên toàn cầu, Tiguan tự hào là chiếc SUV bán chạy nhất trong phân
          khúc tại Châu Âu và là sản phẩm Volkswagen thành công nhất trên thế
          giới hiện nay.Ngay tại thế hệ đầu tiên Tiguan đã trở thành mẫu xe bán
          chạy top đầu trong phân khúc SUV cỡ trung. Với hơn 6 triệu xe đã xuất
          xưởng và bán ra trên toàn cầu, Tiguan tự hào là chiếc SUV bán chạy
          nhất trong phân khúc tại Châu Âu và là sản phẩm Volkswagen thành công
          nhất trên thế giới hiện nay. "
        </p>
      </div>
    </div>
  </div>

  <div class="view-item pt-view mt-100">
    <div class="container">
      <h1 class="font-weight-bold text-center fs-title-cate">
        Ngoại thất bừng khí chất thời thượng
      </h1>
      <div class="row mt-70 d-flex justify-content-center">
        <div class="col-12 col-md-10">
          <img src="./assets/images/cate/tiguan/newtiguan2.jpg" alt="" />
          <div class="mt-4 ml-0 ml-md-5">
            <!-- <p class="font-weight-bold fs-18">Những đường nét thiết kế đổi mới của Tiguan cho thấy định nghĩa chính xác của việc tái tạo lại bản thân một cách thành công rực rỡ. </p> -->
            <p class="text-black mt-3">
              Những đường nét thiết kế đổi mới của Tiguan cho thấy định nghĩa
              chính xác của việc tái tạo lại bản thân một cách thành công rực
              rỡ.
            </p>
            <div class="mobile-size link" (click)="goToElement('exterior')">
              Tìm hiểu thêm về ngoại thất
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-between">
        <div class="col-12 col-md-4 mt-5 mt-md-4">
          <img src="./assets/images/cate/tiguan/newtiguan3.jpg" alt="" />
          <div class="mt-4">
            <p class="font-weight-bold fs-18">Nội thất tinh tế và chu đáo</p>
            <!-- <p class="text-black mt-3">Không gian nội thất với các đường nét thiết kế gọn gàng, sắc sảo. Màu sắc trang nhã, kết hợp Ambient Light 30 màu mang lại không gian tiện nghi, sang trọng và thoải mái cho người sử dụng.</p> -->
            <p class="text-black mt-3">
              Không gian nội thất với các đường nét thiết kế gọn gàng, sắc sảo.
              Màu sắc trang nhã, kết hợp Ambient Light 30 màu mang lại không
              gian tiện nghi, sang trọng và thoải mái cho người sử dụng.
            </p>
            <div class="mobile-size link" (click)="goToElement('interior')">
              Tìm hiểu thêm về nội thất
            </div>
          </div>
        </div>
        <div class="col-12 col-md-7 mt-5 mt-md-4">
          <img src="./assets/images/cate/tiguan/newtiguan4.jpg" alt="" />
          <div class="mt-4">
            <p class="font-weight-bold fs-18">Nâng tầm vận hành</p>
            <!-- <p class="text-black mt-3">Khả năng vận hành được định hình bằng động cơ tiên tiến 2.0TSI với turbo tăng áp kết hợp với hộp số tự động ly hợp kép DSG 7 cấp và hệ thống dẫn động 4 bánh toàn thời gian biến thiên 4MOTION</p> -->
            <p class="text-black mt-3">
              Khả năng vận hành được định hình bằng động cơ tiên tiến 2.0TSI với
              turbo tăng áp kết hợp với hộp số tự động ly hợp kép DSG 7 cấp và
              hệ thống dẫn động 4 bánh toàn thời gian biến thiên 4MOTION
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-100">
    <ng-container *ngFor="let item of content">
      <app-category-tab-horizontal-gallery
        *ngIf="item.component == 'category-tab-horizontal-gallery'"
        [title]="item.title"
        [mt]="item.mt"
        [content]="item.content"
      ></app-category-tab-horizontal-gallery>
    </ng-container>
  </div>

  <div class="container mt-100">
    <ng-container *ngFor="let item of content2">
      <app-category-tab-horizontal-gallery
        *ngIf="item.component == 'category-tab-horizontal-gallery'"
        [title]="item.title"
        [mt]="item.mt"
        [content]="item.content"
      ></app-category-tab-horizontal-gallery>
    </ng-container>
  </div>

  <div class="container mt-100">
    <ng-container *ngFor="let item of content3">
      <app-category-tab-horizontal-gallery
        *ngIf="item.component == 'category-tab-horizontal-gallery'"
        [title]="item.title"
        [mt]="item.mt"
        [content]="item.content"
      ></app-category-tab-horizontal-gallery>
    </ng-container>
  </div>

  <!-- thiết kế -->
  <div class="container-fluid mt-100">
    <div class="d-flex justify-content-center">
      <h2 class="text-black font-weight-bold" style="max-width: 700px">
        Tiện nghi và Công nghệ
      </h2>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-md-7 pl-0">
        <img src="./assets/images/cate/tiguan/newtiguan13.jpg" alt="" />
      </div>
      <div class="col-12 col-md-5 mt-4 mt-md-0">
        <p-accordion (onOpen)="onDesignTabOpen($event)">
          <p-accordionTab
            header="Khi nói đến điều này, Tiguan luôn thỏa mãn bạn.
          "
            [selected]="true"
          >
            <div class="font-weight-bold fs-18 text-black">
              Đồng hồ kỹ thuật số Digital Cockpit Pro đa sắc màu
            </div>

            <ul class="list-info mt-4">
              <li class="text-black mobile-size item-info">
                Đồng hồ kỹ thuật số Digital Cockpit Pro đa sắc màu
              </li>
              <li class="text-black mobile-size item-info">
                Điều chỉnh màu Ambient Lighting 30 màu, lựa chọn giao diện và
                thông số hiển thị sinh động
              </li>
              <li class="text-black mobile-size item-info">
                Màn hình giải trí đa chức năng MIB 3 – 8 inch, điều khiển cảm
                ứng, điều khiển cử chỉ Gesture Control, kết nối App-Connect,
                (Apple Carplay và Android Auto), Bluetooth, USB (Type C)
              </li>
              <li class="text-black mobile-size item-info">
                Điều hoà tự động 3 vùng nhiệt độ, điều khiển cảm ứng và có chức
                năng lọc không khí. Hệ thống âm thanh cao cấp 8 loa.
              </li>
              <li class="text-black mobile-size item-info">
                Hệ thống âm thanh cao cấp 8 loa.
              </li>
            </ul>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
  </div>

  <div class="container mt-100">
    <h1 class="text-center text-black font-weight-bold fs-title-cate">
      Đóng mở cốp thông minh Easy Open.
    </h1>
    <div class="row mt-70">
      <div class="col-12 col-md-5">
        <div class="pl-0 pl-md-5">
          <div class="mt-5 mt-md-0">
            <p class="font-weight-bold fs-18">
              Đảm bảo sự tiện lợi tối đa với các thao tác đóng mở cốp
            </p>
            <p class="text-body mt-3">
              Tích hợp mở cốp bằng chìa khóa và rút điện trong xe, nút bấm sau
              xe
            </p>
            <p class="text-body mt-3">
              Chức năng tự động đóng cốp khi tác động lực tay bảo vệ cho motor
              đóng cốp
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-7">
        <img src="./assets/images/cate/tiguan/newtiguan14.jpg" alt="" />
      </div>
    </div>
  </div>

  <!-- trãi nghiệm -->
  <div class="container-fluid mt-100">
    <div class="row mb-0 d-flex align-items-end">
      <div class="col-12 col-md-7 p-0">
        <img src="./assets/images/cate/tiguan/newtiguan20.jpg" alt="" />
      </div>
      <div class="col-12 col-md-5 p-0">
        <img src="./assets/images/cate/tiguan/newtiguan21.jpg" alt="" />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 order-2">
        <div class="text-black mt-4" style="font-weight: 200; font-size: 30px">
          Trải nghiệm New Tiguan
        </div>
      </div>
      <div class="col-12 col-md-6 px-0 px-md-4 order-md-2 order-1">
        <img src="./assets/images/cate/tiguan/newtiguan22.jpg" alt="" />
      </div>
    </div>
  </div>

  <!-- Lái thu xe -->
  <div class="test-drive mt-100" style="padding: 70px 15px">
    <h1 class="font-weight-bold text-center text-white fs-title-cate">
      Chi phí lăn bánh
    </h1>
    <div class="d-flex justify-content-center">
      <p class="text-white text-center mt-3" style="max-width: 700px">
      </p>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <a
        [routerLink]="'/product/cost'"
        class="btn-test text-center zoomOwn"
        >Tham khảo thêm</a
      >
    </div>
  </div>
  <!-- Có thẻ bạn cũng thích -->
  <app-like></app-like>
  <app-menu-right></app-menu-right> 
</div>
<div class="toast-container">
  <p-toast [breakpoints]="{ '576px': { width: '300px' } }"></p-toast>
</div>
<app-cart></app-cart>
<app-facebook-chat></app-facebook-chat>
