<div class="container">
  <div class="news-recall">
    <div class="news-recall__title">
      CHƯƠNG TRÌNH TRIỆU HỒI: KIỂM TRA CỤM ĐỠ BẠC ĐẠN BÁNH SAU
    </div>
    <div class="news-recall__content">
      Volkswagen AG (VWAG) chính thức thông báo: một số xe Tiguan Allspace được
      sản xuất trong khoảng thời gian từ tháng 10/2021 đến tháng 12/2021 được
      phân phối tại thị trường Việt Nam cần triêu hồi để kiểm tra cụm đỡ bạc đạn
      bánh sau.
    </div>

    <div class="news-recall__content">
      Lý do triệu hồi: Do sai sót ở hệ thống khuôn đúc áp lực trong một vài thời
      điểm sản xuất nhất định, một số ít xe được lắp đặt cụm đỡ bạc đạn bánh sau
      có lẫn oxit. Rủi ro có thể gãy nứt ở cụm đỡ bạc đạn bánh sau có thể làm
      ảnh hưởng đến khả năng bám đường của xe.
    </div>

    <div class="news-recall__content">
      Cho đến thời điểm hiện tại, Volkswagen Việt Nam chưa ghi nhận trường hợp
      tai nạn nào liên quan đến lỗi này.
    </div>

    <div class="news-recall__content">
      VWVN sẽ tiến hành chiến dịch kiểm tra cụm đỡ xe bạc đán bánh sau cho các
      xe Tiguan Allspace hoàn toàn MIỄN PHÍ (bao gồm phụ tùng và công thay thế)
      tại tất cả các Đại lý ủy quyền của trên toàn quốc, thời gian cho việc thay
      thế là 1,1 giờ (khoảng 66 phút).
    </div>

    <div class="news-recall__content">
      Trường hợp khách hàng muốn kiểm tra thông tin xe đang sở hữu có nằm trong
      danh sách ảnh hưởng của chương trình này không, khách hàng có thể liên hệ
      tới các Đại lý ủy quyền của Volkswagen trên toàn quốc theo danh sách đính
      kèm để được hỗ trợ hoặc xem trên website của chúng tôi www.vw.com.vn.
    </div>

    <div class="news-recall__content">
      >> Danh sách xe triệu hồi: kiểm tra cụm đỡ bạc đạn bánh sau
    </div>
  </div>
</div>
