.news-recall {
    padding-top: 100px;

    &__title {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 20px;
        font-size: 1.4rem;
    }

    &__content {
        margin-bottom: 20px;
        font-size: 1.2rem;
    }
}