<div style="position:relative">
  <iframe style="height: 500px; width:100vw;" name="Volkswage Showroom" src="https://tour.panoee.com/vw-esOjRQ-3_"
  frameBorder="0" width="100%" scrolling="no" allow="vr,gyroscope,accelerometer" allowFullScreen="false"
  loading="eager"></iframe>
  <!-- <div class="wrap">
    <div class="name">
      <div>Volkswagen</div>
      <div>Teramont</div>
    </div>
    <div class="title">
      Đỉnh cao chủ động
    </div>
    <div class="customBtn zoomOwn">
      Khám phá ngay
    </div>
  </div> -->

</div>
<div>

  <iframe name="vw" src="https://tour.panoee.com/vw-esOjRQ-3_" frameBorder="0" width="100%" class="iframe"
    scrolling="no" allow="vr,gyroscope,accelerometer" allowFullScreen="false" loading="eager"></iframe>

</div>