<div class="wrap">
  <img src="./assets/images/cate/tiguan/banner.jfif" alt="" class="banner">
  <div class="text-center py-5  px-3 wrap-name">
    <h1 class="text-white font-weight-bold fs-head-cate">Tiguan nâng cấp</h1>
  </div>
  <div class="container mt-4">
    <div class="summary d-flex flex-wrap">
      <div class="mr-5 mt-3">
        <div class="text-body">Giá bán từ (VNĐ):</div>
        <h4 class="font-weight-bolder">1.699.000.000</h4>
      </div>
      <div class="mr-5 mt-3">
        <div class="text-body">Tiêu thụ nhiên liệu kết hợp (lít/ 100km):</div>
        <h4 class="font-weight-bolder">8,9</h4>
      </div>
      <div class="mr-5 mt-3">
        <div class="text-body">Tiêu thụ nhiên liệu ngoài đô thị (lít/100km):</div>
        <h4 class="font-weight-bolder">6.7</h4>
      </div>
    </div>
  </div>
  <!-- Tải brochure -->
  <div class="container-fluid">
    <div class="doawload-brochure mt-5">
      <div class="line"></div>
      <a href="https://www.vw.com.vn/idhub/content/dam/onehub_pkw/importers/vn/pdf/tiguan2021.pdf"
        class="brochure zoomOwn mobile-size">Tải Brochure</a>
      <div class="line"></div>
    </div>
  </div>
  <!-- title -->
  <div class="container ">
    <h1 class="font-weight-bold text-black  text-center mt-70 fs-title-cate"> SUV 7 chỗ thương hiệu Đức </h1>
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <p class="text-body mt-4 ">Mẫu xe 7 chỗ thương hiệu Đức nhập khẩu duy nhất có giá dưới 2 tỷ đồng.
          Với phiên bản Tiguan Allspace trục cơ sở kéo dài tạo không gian rộng rãi thoải mái cho bất cứ cuộc hành trình
          nào.
          Tiguan Allspace mang đến những giá trị đích thực trong phân khúc xe nhập khẩu dành cho người Việt.
          cho
          tất cả những cuộc phiêu lưu và khám phá.</p>
      </div>
    </div>

  </div>
  <!-- Các tính năng nổi bật -->
  <div class="container mt-100"> 
    <h1 class="text-center text-black font-weight-bold fs-title-cate">
      Các tính năng nổi bật của Tiguan
    </h1>
    <div class="row mt-70">
      <div class="col-12 col-md-7">
        <img src="./assets/images/cate/tiguan/feature1.webp" alt="">
      </div>
      <div class="col-12 col-md-5 ">
        <div class="pl-0 pl-md-5">
          <div class="mt-5 mt-md-0">
            <p class="font-weight-bold fs-18">Đồng hồ trung tâm dạng kỹ thuật số Digital Cockpit</p>
            <p class="text-body mt-3">Đồng hồ kỹ thuật số 12.3 inch với 3 lựa chọn giao diện hiển thị và tùy chỉnh màu
              sắc
            </p>
          </div>
          <div>
            <p class="font-weight-bold fs-18">Hệ thống hỗ trợ đỗ xe Park Assist</p>
            <p class="text-body mt-3">Việc tìm khoảng trống và đỗ xe thật dễ dàng với hệ thống hỗ trợ đỗ xe Park Assist
            </p>
          </div>
          <div>
            <p class="font-weight-bold fs-18">Gói quan sát xung quanh Area View</p>
            <p class="text-body mt-3">Quan sát xung quanh xe với camera 360 hiển thị dạng 3D với độ phân giải cao
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 mt-5">
        <img src="./assets/images/cate/tiguan/feature2.webp" alt="">
      </div>
      <div class="col-12 col-md-9 mt-5 ">
        <img class="pl-md-5 pl-0" src="./assets/images/cate/tiguan/feature3.webp" alt="">
      </div>
    </div>

  </div>
  <!-- thiết kế -->
  <div class="container-fluid mt-100">
    <div class="d-flex justify-content-center">
      <h2 class="text-black font-weight-bold" style="max-width: 700px;">Thiết kế mạnh mẽ với phần đầu xe
        cứng chắc, cùng các đường
        nét
        dập nổi đậm chất SUV</h2>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-md-7 pl-0">
        <img src="{{imageDesign}}" alt="">
      </div>
      <div class="col-12 col-md-5 mt-4 mt-md-0">
        <p-accordion (onOpen)="onDesignTabOpen($event)">
          <p-accordionTab header="Bố trí không gian" [selected]="true">
            <div class="font-weight-bold fs-18 text-black">7 chỗ ngồi và lộ trình tới điểm đến của bạn</div>
            <div class="text-black " style="font-weight: 600;">Tiguan là một chiếc SUV thực sự linh hoạt. Nhờ có thêm
              hàng ghế thứ
              3, nó có
              thể chở tới 7 người và có khoang hành lý tối đa lên đến 1775 lít. Một đặc điểm tiện dụng, bằng 1 thao tác
              bạn có thể gập hàng ghế thứ 3 để tạo không gian chứa hành lý quá khổ.</div>

            <ul class="list-info mt-4">
              <li class="text-black mobile-size item-info">Lưới tản nhiệt với thanh trang trí mạ crom nối liền 2 đèn xe
              </li>
              <li class="text-black mobile-size item-info">Khung xe liền khối với thiết kế kết cấu thép chịu lực an toàn
              </li>
              <li class="text-black mobile-size item-info">Cụm đèn LED Projector cá tính với các công nghệ tiên tiến, tự
                động bật
                tắt, mở rộng góc chiếu khi vào cua, điều chỉnh khoảng chiếu sáng tự động, coming home và leaving home"
              </li>
              <li class="text-black mobile-size item-info">Gương chiếu hậu chỉnh điện, gập và sưởi điện, tích hợp đèn
                LED
                báo rẽ</li>
              <li class="text-black mobile-size item-info">Mâm đúc hợp kim nhôm 19-inch 5 chấu “Victoria Falls” với màu
                xám nổi bật
              </li>
              <li class="text-black mobile-size item-info">Lốp xe tự vá 235/50R19, bu lông chống trộm bánh xe</li>
              <li class="text-black mobile-size item-info">Cụm đèn LED sau xe thiết kế sắc cạnh và nổi bật</li>
              <li class="text-black mobile-size item-info">Ống xả kép mạ Chrome, viền cửa sổ mạ chrome, giá nóc sơn màu
                bạc, cánh
                hướng gió tích hợp đèn báo phanh tăng thêm dáng vẻ thể thao cho Tiguan</li>
            </ul>
          </p-accordionTab>
          <p-accordionTab header="Đóng mở cốp thông minh Easy Open">
            <div class="font-weight-bold fs-18 text-black">Đóng mở cốp dễ dàng và tiện lợi</div>
            <p class="mt-2 text-black">Bạn đứng trước khoang hành lý với rất nhiều túi đồ và không thể mở cốp.
              Với hệ thống đóng mở cốp thông minh, bạn có thể mở nó bằng chân, chỉ cần di chuyển chân phía sau xe,
              khoanh hành lý sẽ mở. Cũng thật dễ dàng để đóng cốp xe bằng cách nhấn nút trên cốp sau. Thật là ấn tượng,
              khoang hành lý có dung tích lên đến 1775 lít.
            </p>
          </p-accordionTab>
          <p-accordionTab header="Dynaudio">
            <div class="font-weight-bold fs-18 text-black"> Hệ thống loa cao cấp Dynaudio </div>
            <p class="mt-2 text-black">Hệ thống âm thanh vòm cao cấp DYNAUDIO 8 loa, 1 loa trung tâm, 1 loa subwoofer
              công suất cực đại lên đến 400 Wat (Tiguan Luxury S). Hệ thống âm thanh cao cấp 8 loa (Tiguan Elegance và
              Luxury). Với chất lượng âm thanh vượt trội ở mọi ghế ngồi, mọi hành trình sẽ thư giãn như bạn đang trải
              nghiệm trong không gian của phòng hòa nhạc.
            </p>
          </p-accordionTab>
          <p-accordionTab header='Ghế ngồi cao cấp dạng "ergoActive"'>
            <div class="font-weight-bold fs-18 text-black">Ghế ngồi cao cấp dạng "ergoActive"</div>
            <div class="text-black " style="font-weight: 600;">Ngồi xuống và cảm nhận. Hệ thống ghế kiểu thể thao
              ergoActive giúp mọi thứ trở nên đơn giản. Nhờ có hệ thống chỉnh ghế 14 hướng, bạn có thể dễ dàng điều
              chỉnh phù hợp với cơ thể mình, giúp giải phóng sự mệt mỏi cho lưng của bạn, đảm bảo sự thoải mái và thư
              giãn.</div>

            <ul class="list-info mt-4">
              <li class="text-black mobile-size item-info">Tích hợp sưởi ghế
              </li>
              <li class="text-black mobile-size item-info">Bơm tựa lưng và chức năng massage (Elegance & Luxury)
              </li>
              <li class="text-black mobile-size item-info">Chức năng nhớ vị trị (Luxury S)
              </li>
            </ul>
          </p-accordionTab>
          <p-accordionTab header="Đồng Hồ Trung Tâm hiển thị thông tin Active Infor Display">
            <div class="font-weight-bold fs-18 text-black">Màn hình thông tin dành riêng cho tài xế</div>
            <p class="mt-2 text-black">Hệ thống âm thanh vòm cao cấp DYNAUDIO 8 loa, 1 loa trung tâm, 1 loa subwoofer
              Khi quan sát đồng hồ tốc độ và công tơ mét hoặc dữ liệu lái xe, hoặc tiêu đề của bài hát bạn đang nghe
              hoặc những lựa chọn khác.
              Ngay trong tầm tay bạn: với tay lái đa chức năng, thật dễ dàng để bạn để cấu hình màn hình phân giải cao
              theo cách bạn muốn.
            </p>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
  </div>
  <!-- trãi nghiệm -->
  <div class="container-fluid mt-100">
    <div class="row  mb-0 d-flex align-items-end">
      <div class="col-12 col-md-7 p-0">
        <img src="./assets/images/cate/tiguan/experience0.webp" alt="">
      </div>
      <div class="col-12 col-md-5 p-0">
        <img src="./assets/images/cate/tiguan/experience1.webp" alt="">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 order-2">
        <div class="text-black mt-4" style="font-weight: 200;font-size: 30px;">
          Trải nghiệm Tiguan Allspace
        </div>
      </div>
      <div class="col-12 col-md-6 px-0 px-md-4 order-md-2 order-1 ">
        <img src="./assets/images/cate/tiguan/experience2.webp" alt="">
      </div>
    </div>
  </div>
  <!-- các hệ thống hỗ trợ -->
  <div class="container-fluid mt-100">
    <h1 class="text-black font-weight-bold text-center fs-title-cate">Các hệ thống hỗ trợ</h1>
    <div class=" row mt-5">
      <div class="col-12 col-md-7 pl-0">
        <img src="{{imageSupport}}" alt="">
      </div>
      <div class="col-12 col-md-5 mt-4 mt-md-0">
        <p-accordion (onOpen)="onSupportTabOpen($event)">
          <p-accordionTab header="Gói quan sát" [selected]="true">
            <div class="font-weight-bold fs-18 text-black">Nhìn về phía trước theo mọi hướng</div>
            <p class="text-black mt-2 ">Ra khỏi một bãi đỗ xe ở nơi đông đúc, di chuyển trên địa hình khó khăn: có rất
              nhiều tình huống người lái cần hơn là một đôi mắt. Với gói quan sát Area View bạn sẽ có: 4 camera quan sát
              xung quanh xe và cung cấp các góc nhìn thực tế hiển thị trên màn hình giải trí của xe. Giống như một ma
              thuật: Kết hợp tất cả các camera sẽ giúp hệ thống tạo ra góc nhìn kiểu mắt chim: bạn sẽ có góc nhìn toàn
              cảnh từ phía trên và xung quanh.</p>
          </p-accordionTab>
          <p-accordionTab header="Tiguan của bạn: Trợ lý đáng tin cậy">
            <div class="font-weight-bold fs-18 text-black">Hệ thống hỗ trợ đỗ xe tự động</div>
            <p class="mt-2 text-black">Tiguan với tính năng hỗ trợ đỗ xe không chỉ cho bạn biết khoảng trống đỗ xe có đủ
              lớn hay không, nó còn giúp bạn lái xe vào chỗ đỗ xe. Tất cả những gì bạn phải làm là điều khiển cần số,
              bàn đạp ga và phanh. Hệ thống sẽ giúp bạn tự đánh lái
            </p>
            <ul class="list-info mt-4">
              <li class="text-black mobile-size item-info">Cảm biến siêu âm sẽ dò khoảng trống đỗ xe (tốc độ di chuyển
                dưới 40 km/h)
              </li>
              <li class="text-black mobile-size item-info">Chỉ cần 80cm khoảng cách phía trước và sau là đủ
              </li>
              <li class="text-black mobile-size item-info">Có thể vô hiệu hóa chức năng bất kể lúc nào
              </li>
            </ul>

          </p-accordionTab>

        </p-accordion>
      </div>
    </div>
  </div>
  <!-- Lái thu xe -->
  <div class="test-drive  mt-100" style="padding:70px 15px">
    <h1 class="font-weight-bold text-center text-white fs-title-cate">Lái thử xe</h1>
    <div class="d-flex justify-content-center">
      <p class="text-white text-center mt-3" style="max-width:700px">Bạn có muốn lái thử Tiguan Allspace? Hãy cho chúng
        tôi
        biết ngày bạn muốn lái thử và Đại lý gần nhất sẽ mang đến điều đó.</p>
    </div>
    <div class="d-flex justify-content-center mt-5 ">
      <a [routerLink]="'/product/test-drive'" class="btn-test text-center zoomOwn">Đăng ký</a>
    </div>
  </div>
  <!-- Có thẻ bạn cũng thích -->
  <app-like></app-like>
</div>
<div class="toast-container">
    <p-toast [breakpoints]="{ '576px': { width: '300px' } }"></p-toast>
</div>
<app-cart></app-cart>
<app-facebook-chat></app-facebook-chat>