<div class="wrap">
    <div class="container">
        <div class="row">
            <div class="legal-container">

                <h2>PHƯƠNG THỨC THANH TOÁN</h2>
                <div class="p-h4">
                    <p>
                        Cám ơn Quý khách đã đặt hàng tại chúng tôi.
                    </p>
                    <p>
                        Quý khách thanh toán theo các hình thức sau:
                    </p>
                </div>

                <h4>1. Thanh toán trực tiếp tại văn phòng chúng tôi :</h4>
                <p class="bold">Công ty TNHH Trend Motor Việt Nam</p>
                <p>MST: 0313590854, cấp ngày 25 tháng 12 năm 2015 tại Sở kế hoạch và đầu tư TP Hồ
                    Chí minh</p>
                <p>Địa chỉ: Lầu 7, Tòa nhà HPL, Số 60 Nguyễn Văn Thủ, Phường Đa Kao, Quận 1, Thành
                    phố Hồ Chí Minh</p>
                <p>Di động: 0908151413</p>
                <p>Điện thoại: (028) 62599191</p>
                <p>Fax: (028) 62599494</p>
                <p>Email: info@vw.com.vn</p>

                <h4>2. Thanh toán qua ATM nội địa- interet Banking</h4>
                <p>Chỉ cần có thẻ ATM nội địa, quý khách có thể dễ dàng thanh toán bằng cách chuyển khoản đến số
                    tài khoản của Trend Motor. Nhận hàng nhanh chóng chỉ từ 3-7 ngày.</p>

                <h4>3. Quý khách có thể thanh toán theo thông tin số tài khoản:</h4>
                <p>*Ngân hàng: Seabank-CN.HCM.</p>
                <p>Chủ tài khoản: CONG TY TNHH TREND MOTOR VIET NAM.</p>
                <p>Beneficiary: CONG TY TNHH TREND MOTOR VIET NAM.</p>
                <p>Số tài khoản: 10100014483242.</p>
                <p>Account number: 10100014483242.</p>

                <p style="margin-top:6px;">*Ngân hàng: VPBank-CN Sài Gòn.</p>
                <p>Chủ tài khoản: CONG TY TNHH TREND MOTOR VIET NAM.</p>
                <p>Beneficiary: CONG TY TNHH TREND MOTOR VIET NAM.</p>
                <p>Số tài khoản: 126304595.</p>
                <p>Account number: 126304595.</p>

                <h4>4. Qui định hoàn trả tiền khi thanh toán trực tuyến</h4>
                <p>Nếu vì bất kỳ lý do gì mà Đại lý của VWVN không thông báo cho Khách Hàng về thời gian và địa
                    điểm để Khách Hàng tới ký Hợp Đồng Mua Bán muộn nhất vào thời điểm kết thúc Thời Hạn Đặt giữ
                    chỗ thì Khách Hàng được nhận lại toàn bộ Tiền Đặt giữ chỗ, trừ trường hợp các bên đạt được
                    thỏa thuận mới về thời gian ký kết Hợp Đồng Mua Bán. Trong trường hợp này, ngoài việc hoàn
                    trả Tiền Đặt giữ chỗ, Đại lý của VWVN không phải trả thêm bất kỳ khoản tiền nào khác cho
                    Khách Hàng.</p>

            </div>
        </div>
    </div>
</div>

<div class="toast-container">
    <p-toast [breakpoints]="{ '576px': { width: '300px' } }"></p-toast>
</div>
<app-cart></app-cart>
<app-facebook-chat></app-facebook-chat>