<div class="container {{mt?'':'mt-100'}}" [style]="mt?'margin-top:'+mt:''">
  <h1 class="text-black font-weight-bold text-center fs-title-cate" *ngIf="title">{{title}}</h1>
</div>
<ng-container *ngIf="content.length==4">
  <div class="container-fluid mt-5">
    <div class="row  mb-0 d-flex align-content-end">
      <div class="col-12 col-md-8 p-0">
        <img [src]="content[0]" alt="">
      </div>
      <div class="col-12 col-md-4 p-0">
        <img [src]="content[1]" alt="">
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-12 p-0 col-md-3 p-0 ">
        <img [src]="content[2]" alt="">
      </div>
      <div class="col-12 p-0 col-md-5 p-0 ">
        <img [src]="content[3]" alt="">
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="content.length==3">
  <div class="container-fluid mt-5">
    <div class="row  mb-0 d-flex align-items-end">
      <div class="col-12 col-md-8 p-0">
        <img [src]="content[0]" alt="">
      </div>
      <div class="col-12 col-md-4 p-0">
        <img [src]="content[1]" alt="">
      </div>
    </div>
  </div>
  <!-- <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-12  col-md-6 p-0 ">
        <img [src]="content[2]" alt="">
      </div>
    </div>
  </div> -->
  <div class="container">
    <div class="row d-flex justify-content-end">
      <div class="col-12 col-md-6  px-0 px-md-4 ">
        <img [src]="content[2]" alt="">
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="content.length==5">
  <div class="container-fluid mt-5">
    <div class="row d-flex align-content-end ">
      <div class="col-12 p-0 col-md-3">
        <img [src]="content[0]" alt="">
      </div>
      <div class="col-12 p-0 col-md-6">
        <img [src]="content[1]" alt="">
      </div>
      <div class="col-12 p-0 col-md-3">
        <img [src]="content[2]" alt="">
      </div>
    </div>
  </div>
  <div class="container mt-0">
    <div class="row d-flex justify-content-center">
      <div class="col-12 p-0 col-md-5 p-0 ">
        <img [src]="content[3]" alt="">
      </div>
      <div class="col-12 p-0 col-md-5 p-0 ">
        <img [src]="content[4]" alt="">
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="content.length==2">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12  col-md-6  ">
        <img [src]="content[0]" alt="">
      </div>
      <div class="col-12  col-md-6  ">
        <img [src]="content[1]" alt="">
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="content.length==1">
  <div class="container mt-5 ">
    <div class="row justify-content-center">
      <div class="col-12  col-md-10  ">
        <img [src]="content[0]" alt="">
      </div>
    </div>
  </div>
</ng-container>