.list-info {
  list-style: none;

  .item-info {
    display: flex;
    font-size:16px;
    

    &::before {
      content: '';
      display: inline-block;
      min-width: 13px;
      height: 2px;
      background: black;
      margin-right: 15px;
      position: relative;
      top: 13px;
    }
  }
}
.container{
    font-size:18px;
}


.link {
  // font-family: Noto Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #001E50;
}