<div class="wrap">
    <div class="container">
        <div class="row">
            <div class="legal-container">

                <h2>CHÍNH SÁCH BẢO HÀNH SẢN PHẨM</h2>
                <div class="p-h4">
                    <p>Showroom.vw.com.vn không áp dụng chính sách bảo hành sản phẩm.</p>
                    <p>
                        Sản phẩm sẽ được bảo hành tại hệ thống đại lý của VWVN theo chính sách bảo hành của Nhà
                        sản xuất.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="toast-container">
    <p-toast [breakpoints]="{ '576px': { width: '300px' } }"></p-toast>
</div>
<app-cart></app-cart>
<app-facebook-chat></app-facebook-chat>