<div class="wrap">
  <img src="./assets/images/cate/passat/banner.jfif" alt="" class="banner" id="passatBanner">
  <div class="text-center py-5  px-3 wrap-name">
    <h1 class="text-white font-weight-bold fs-head-cate">Passat</h1>
  </div>
  <!-- summary -->
  <div class="container mt-4">
    <div class="summary d-flex flex-wrap">
      <div class="mr-5 mt-3">
        <div class="text-body">Giá từ (đã bao gồm thuế VAT)</div>
        <h4 class="font-weight-bolder">1,480,000,000 VNĐ</h4>
      </div>
      <div class="mr-5 mt-3">
        <div class="text-body">Mô men xoắn tối đa</div>
        <h4 class="font-weight-bolder">250Nm</h4>
      </div>
      <div class="mr-5 mt-3">
        <div class="text-body">Tiêu thụ nhiên liệu trong đô thị (lít /100km)</div>
        <h4 class="font-weight-bolder">9,15</h4>
      </div>
      <div class="mr-5 mt-3">
        <div class="text-body">Tiêu thụ nhiên liệu ngoài đô thị (lít /100km)</div>
        <h4 class="font-weight-bolder">6,53</h4>
      </div>
    </div>
  </div>
  <!-- Tải brochure -->
  <div class="container-fluid">
    <div class="doawload-brochure mt-5">
      <div class="line"></div>
      <a href="https://www.vw.com.vn/idhub/content/dam/onehub_pkw/importers/vn/pdf/passat-brochure.pdf"
        class="brochure zoomOwn mobile-size">Tải Brochure</a>
      <div class="line"></div>
    </div>
  </div>
  <!-- title -->
  <div class="container ">
    <h1 class="font-weight-bold text-black  text-center mt-70 fs-title-cate">Công nghệ thiết thực</h1>
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <p class="text-body mt-4 ">Kết hợp những công nghệ thiết thực, ngoại thất và phong cách năng động với tiện nghi
          dành
          cho gia đình, sự tin cậy và an toàn. Passat được tạo ra để giúp cuộc sống bận rộn của bạn trở nên dễ dàng hơn
        </p>
      </div>
    </div>

  </div>
  <!-- Đặc điểm nổi bật -->
  <div class="container mt-100">
    <h1 class="text-center text-black font-weight-bold fs-title-cate">
      Đặc điểm nổi bật
    </h1>
    <div class="row mt-70 d-flex justify-content-center">
      <div class="col-12 col-md-10">
        <img src="./assets/images/cate/passat/feature0.webp" alt="">
        <div class="mt-4  ml-0 ml-md-5">
          <p class="font-weight-bold fs-18">Tiết kiệm nhiên liệu và vận hành tối ưu với động cơ tăng áp và phun nhiên
            liệu trực tiếp 1.8l TSI</p>
          <p class="text-black mt-3 ">Động cơ có kích thước nhỏ gọn. Tối ưu hóa quá trình nạp hỗn hợp không khí và nhiên
            liệu mang lại cho Passat khả năng vận hành hiệu quả vượt trội.
          </p>
        </div>
      </div>
    </div>
    <div class="row  d-flex justify-content-between">
      <div class="col-12 col-md-4 mt-5 mt-md-4">
        <img src="./assets/images/cate/passat/feature1.webp" alt="">
        <div class="mt-4 ">
          <p class="font-weight-bold fs-18">Ghế Ergo Comfort</p>
          <p class="text-black mt-3 ">Ghế Ergo Comfort với chức năng chỉnh điện 14 hướng, bơm hơi tựa lưng, chức năng
            nhớ ghế và Massage ghế lái.
          </p>
        </div>
      </div>
      <div class="col-12 col-md-7 mt-5 mt-md-4">
        <img src="./assets/images/cate/passat/feature2.webp" alt="">
        <div class="mt-4 ">
          <p class="font-weight-bold fs-18">Thiết kế tinh tế</p>
          <p class="text-black mt-3 ">Khoác trên mình dáng dấp doanh nhân. Passat mang lại cho chủ sở hữu hình ảnh lịch
            lãm và thành đạt.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Nội thất rộng rãi và tiện nghi -->
  <div class="container-fluid mt-100">
    <h1 class="text-black font-weight-bold text-center fs-title-cate">Nội thất rộng rãi và tiện nghi</h1>
    <div class="row mt-70">
      <div class="col-12 col-md-7 pl-0">
        <img src="{{imageInterior}}" alt="">
      </div>
      <div class="col-12 col-md-5 mt-4 mt-md-0">
        <p-accordion (onOpen)="onInteriorTabOpen($event)">
          <p-accordionTab header="Nội thất sang trọng" [selected]="true">
            <div class="font-weight-bold fs-18 text-black">Hài hòa và tinh tế trong từng chi tiết</div>
            <ul class="list-info mt-4">
              <li class="text-black mobile-size item-info">Nội thất phối hợp hài hòa giữa màu sắc và chất liệu cao cấp
                cùng với các đường nét thiết kế sắc nét và tinh tế.
              </li>
              <li class="text-black mobile-size item-info">Ghế ngồi cao cấp với chất liệu bọc gia sang trọng cùng với
                tính năng ghế chỉnh điện 14 hướng và chức năng massage dành cho ghế lái.
              </li>
              <li class="text-black mobile-size item-info">Hỗ trợ vào xe thông minh</li>
              <li class="text-black mobile-size item-info">Tạo hình chính xác và tỉ mỉ từng chi tiết nhỏ như viền trang
                trí taplo, cửa gió điều hòa, các nút điều khiển. </li>
              <li class="text-black mobile-size item-info">Không gian riêng tư và yên tĩnh cho tất cả người ngồi</li>
            </ul>
          </p-accordionTab>
          <p-accordionTab header="Hệ thống điều hòa tự động 3 vùng nhiệt độ Climatronic">
            <div class="font-weight-bold fs-18 text-black">Nhiệt độ trong xe luôn đảm bảo cho mọi hành khách sự thoải
              mái và dễ chịu</div>
            <ul class="list-info mt-4">
              <li class="text-black mobile-size item-info">Điều hòa không khí tự động giúp không khí trong xe luôn duy
                trì nhiệt độ mà bạn cài đặt.
              </li>
              <li class="text-black mobile-size item-info">Chế độ lọc không khí Aircare cho không khí trong xe luôn ở
                tình trạng trong lành nhất.
              </li>
              <li class="text-black mobile-size item-info">Chế độ tiện nghi Rest giúp xe giữ độ lạnh trong vòng 5-10
                phút khi khách hàng tắt máy và rời khỏi xe.
              </li>
            </ul>
          </p-accordionTab>
          <p-accordionTab header="Tay lái bọc da, tích hợp nhiều phím điều khiển âm thanh">
            <div class="font-weight-bold fs-18 text-black">Điều khiển xe dễ dàng với tay lái bọc da tích hợp các phím đa
              chức năng</div>
            <p class="mt-2 text-black">Tay lái bọc da 3 chấu phẳng đáy, kết hợp với các chi tiết trang trí mạ bạc
            </p>
            <ul class="list-info mt-4">
              <li class="text-black mobile-size item-info">Các phím bấm tích hợp điều khiển hệ thống âm thanh
              </li>
              <li class="text-black mobile-size item-info">Tích hợp nút điều khiển hệ thống kiểm soát hành trình cruise
                control và giới hạn tốc độ tối đa
              </li>
            </ul>
          </p-accordionTab>
          <p-accordionTab header='Hệ thống giải trí đa năng Composition Media 8 inch'>
            <div class="font-weight-bold fs-18 text-black">Hệ thống giải trí đa năng giúp mọi chuyến hành trình trở nên
              thư giãn và thú vị</div>
            <ul class="list-info mt-4">
              <li class="text-black mobile-size item-info">Hệ thông màn hình giải trí đa chức năng Composition Media 6.5
                inch điều khiển cảm ứng. Tích hợp cổng AUX, SD card, USB, Bluetooth, CD
              </li>
              <li class="text-black mobile-size item-info">Màn hình còn có chức năng hiển thị tín hiệu của hệ thống kiểm
                soát cự li đỗ xe PDC, camera lùi và các chức năng cài đặt liên quan đến vận hành xe.
              </li>
            </ul>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
  </div>
  <!-- Ngoai thất -->
  <div class="container-fluid mt-120">
    <div class="row  mb-0 d-flex align-items-end">
      <div class="col-12 col-md-8 p-0">
        <img src="./assets/images/cate/passat/exterior0.webp" alt="">
      </div>
      <div class="col-12 col-md-4 p-0">
        <img src="./assets/images/cate/passat/exterior1.webp" alt="">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row d-flex justify-content-end">
      <div class="col-12 col-md-6  px-0 px-md-4 ">
        <img src="./assets/images/cate/passat/exterior2.webp" alt="">
      </div>
    </div>
  </div>
  <!-- Thiet ke -->
  <div class="container-fluid mt-120">
    <h1 class="text-black font-weight-bold text-center fs-title-cate">Thiết kế</h1>
    <div class="row mt-70">
      <div class="col-12 col-md-7 pl-0">
        <img src="{{imageDesign}}" alt="">
      </div>
      <div class="col-12 col-md-5 mt-4 mt-md-0">
        <p-accordion (onOpen)="onDesignTabOpen($event)">
          <p-accordionTab header="Thiết kế" [selected]="true">
            <div class="font-weight-bold fs-18 text-black">Đẳng cấp doanh nhân</div>
            <ul class="list-info mt-4">
              <li class="text-black mobile-size item-info">Thiết kế cân đối và chững chạc
              </li>
              <li class="text-black mobile-size item-info">Lưới tản nhiệt dạng 4 thanh ngang mạ chrome mạnh mẽ
              </li>
              <li class="text-black mobile-size item-info">Đèn xe công nghệ LED và thiết kế sắc sảo, cụm đèn sau cá tính
                và nổi bật. Tích hợp công nghệ tự động bật tắt/ tự động điều chỉnh khoảng chiếu sáng (Dynamic Headlight
                Range Control)/mở rộng góc chiếu khi vào cua/ Chế độ coming home và leaving home.
              </li>
              <li class="text-black mobile-size item-info">Gương chiếu hậu chỉnh điện, gập điện, tích hợp đèn báo rẽ,
                đèn chào mừng, có chức năng sấy.
              </li>
              <li class="text-black mobile-size item-info">Mâm xe hợp kim nhôm "Dartford" 18-inch thiết kế khí động học
              </li>
              <li class="text-black mobile-size item-info">Thân xe với những đường gân dập nổi mạnh mẽ kéo dài từ cửa
                trước đến cụm đèn hậu, tăng sự cứng cáp và khỏe mạnh.
              </li>
              <li class="text-black mobile-size item-info">Chất liệu ghế bọc da êm ái và sang trọng
              </li>
            </ul>
          </p-accordionTab>
          <p-accordionTab header="Vận hành">
            <div class="font-weight-bold fs-18 text-black">Trải nghiệm công nghệ vận hành tiên phong</div>
            <ul class="list-info mt-4">
              <li class="text-black mobile-size item-info">Động cơ 1.8 TSI kêt hợp giữa Turbo tăng áp và hệ thống phun
                nhiên liệu trực tiếp/ Công nghệ trục cam biến thiên/Công nghệ biến thiên chiều dài đường ống nạp
              </li>
              <li class="text-black mobile-size item-info">Công suất cực đại 180 Hp/ 5500-6000 vòng/phút
              </li>
              <li class="text-black mobile-size item-info">Mô men xoắn cực đại 250 Nm/ 1500-5000 vòng/phút
              </li>
              <li class="text-black mobile-size item-info">Hộp số tự động ly hợp kép 7 cấp số/ kết hợp chế độ số sử dụng
                phanh động cơ và chế độ thể thao S
                tin
              </li>
              <li class="text-black mobile-size item-info">Khả năng tăng tốc từ 0-100 km/h trong vòng 7.9s
              </li>
              <li class="text-black mobile-size item-info"> Tiêu hao nhiên liệu đường hỗn hợp là 7.49 l/100 km
              </li>
              <li class="text-black mobile-size item-info"> Tiêu chuẩn khí xả Euro 5
              </li>
            </ul>
          </p-accordionTab>
          <p-accordionTab header='An toàn công nghệ'>
            <ul class="list-info mt-4">
              <li class="text-black mobile-size item-info">Hệ thống chống bó cứng phanh ABS
              </li>
              <li class="text-black mobile-size item-info">Hỗ trợ lực phanh khẩn cấp BAS
              </li>
              <li class="text-black mobile-size item-info">Chống trượt khi tăng tốc ASR
              </li>
              <li class="text-black mobile-size item-info">Ổn định thân xe điện tử ESC (Electronic Stability Control)
              </li>
              <li class="text-black mobile-size item-info"> Kiểm soát cự ly đỗ xe phía trước và sau xe (PDC)
              </li>
              <li class="text-black mobile-size item-info">Công nghệ cảnh báo tài xế (Driver alert system)
              </li>
              <li class="text-black mobile-size item-info">Phanh tay điện tử và chức năng hỗ trợ dừng xe (AUTO HOLD)
              </li>
              <li class="text-black mobile-size item-info">Hệ thống hỗ trợ khởi hành ngang dốc HSA
              </li>
              <li class="text-black mobile-size item-info">Hệ thống điều khiển hành trình và giới hạn tốc độ tối đa
                (cruise control với speed limit)
              </li>
              <li class="text-black mobile-size item-info">Chức năng Auto start/stop tự động ngắt động cơ khi xe tạm
                dừng, giúp giảm thiểu tiêu hao nhiêu liệu & khí xả
              </li>
              <li class="text-black mobile-size item-info">Hệ thống tái tạo năng lượng khi phanh
              </li>
              <li class="text-black mobile-size item-info">Trợ lực điện biến thiên theo tốc độ
              </li>
              <li class="text-black mobile-size item-info">Camera lùi ẩn sau logo cốp xe
              </li>
              <li class="text-black mobile-size item-info">Dây đai an toàn 3 điểm cho tất cả các ghế với bộ căng đai
                khẩn cấp & giới hạn lực siết
              </li>
              <li class="text-black mobile-size item-info">Túi khí hàng ghế trước, túi khí bên hông hàng ghế trước và
                túi khí cửa sổ hai bên
              </li>
              <li class="text-black mobile-size item-info">Theo dõi áp suất lốp TPMS
              </li>
              <li class="text-black mobile-size item-info">Bulông bánh xe có chức năng chống trộm
              </li>
              <li class="text-black mobile-size item-info">Gạt mưa tự động
              </li>
            </ul>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
  </div>
  <!-- Lái thu xe -->
  <div class="test-drive  mt-120" style="padding:70px 15px">
    <h1 class="font-weight-bold text-center text-white fs-title-cate">Lái thử xe</h1>
    <div class="d-flex justify-content-center">
      <p class="text-white text-center mt-3" style="max-width:700px">Bạn có muốn lái thử Passat? Hãy cho chúng tôi biết
        ngày bạn muốn lái thử và Đại lý gần nhất sẽ mang đến điều đó.</p>
    </div>
    <div class="d-flex justify-content-center mt-5 ">
      <a [routerLink]="'/product/test-drive'" class="btn-test text-center zoomOwn">Đăng ký</a>
    </div>
  </div>
  <!-- Có thẻ bạn cũng thích -->
  <app-like></app-like>
</div>

<div class="toast-container">
    <p-toast [breakpoints]="{ '576px': { width: '300px' } }"></p-toast>
</div>
<app-cart></app-cart>
<app-facebook-chat></app-facebook-chat>