<img src="./assets/images/bannerProductDetail.svg" alt="" width="100%" >
<div class="info">
  <div class="nameProduct">Tiguan Allspace</div>
  <div class="nameBrand">SUV 7 chỗ thương hiệu Đức</div>
  <div class="description">
    Mẫu xe 7 chỗ thương hiệu Đức nhập khẩu duy nhất có giá dưới 2 tỷ đồng. Với phiên bản Tiguan Allspace trục cơ sở kéo dài tạo không gian rộng rãi thoải mái cho bất cứ cuộc hành trình nào.  Tiguan Allspace mang đến những giá trị đích thực trong phân khúc xe nhập khẩu dành cho người Việt.
  </div>
</div>
<div class="summary">
  <div class="summaryItem">
    <div class="summaryItemTitle">Công suất tối đa</div>
    <div class="summaryItemContent">220Hp</div>
  </div>
  <div class="sepaVertical"></div>
  <div class="summaryItem">
    <div class="summaryItemTitle">Mô mem tối đa</div>
    <div class="summaryItemContent">350 Nm</div>
  </div>
  <div class="sepaVertical"></div>
  <div class="summaryItem">
    <div class="summaryItemTitle">Tiêu thụ nhiên liệu kết hợp</div>
    <div class="summaryItemContent">10 lít/100 km</div>
  </div>
  <div class="sepaVertical"></div>
  <div class="summaryItem">
    <div class="summaryItemTitle">Tiêu thụ nhiên liệu kết hợp</div>
    <div class="summaryItemContent">10 lít/100 km</div>
  </div>
</div>

<div class="service">
  <div class="titleService">Các dịch vụ nổi bật</div>
  <div class="wrapServiceItem">
    <div class="serviceItem zoomOwn">
      <img src="./assets/images/datetime.svg" alt=""  >
      <div class="serviceItemTitle">
        Đặt hẹn dịch vụ
      </div>
    </div>
    <div class="serviceItem zoomOwn">
      <img src="./assets/images/position.svg" alt="" >
      <div class="serviceItemTitle">
        Chọn đại lý gần nhất
      </div>
    </div>
    <div class="serviceItem zoomOwn">
      <img src="./assets/images/service.svg" alt="" >
      <div class="serviceItemTitle">
        Sửa chữa và dịch vụ
      </div>
    </div>
  </div>
</div>


