.link {
  // font-family: Noto Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  text-decoration-line: none;
  color: #001E50;
}

.link:hover {
    color: #001d50be;
}

.container{
    font-size:18px;
}