.list-info{
  list-style: none;
  .item-info{
    display: flex;
    &::before{
      content: '';
      display: inline-block;
      min-width: 15px;
      height: 2px;
      background: black;
      margin-right: 15px;
      position: relative;
      top: 13px;
    }
  }
}