<h2 class="title">Công nghệ</h2>
<div class="menu">
  <div class="image ">
    <img src="{{image}}" alt="" style>
  </div>
  <div class="tab">
    <p-accordion (onOpen)="onTabOpen($event)">
      <p-accordionTab header="Điều khiển từ xa và các tính năng kết nối" [selected]="true">
        <p>Help keep things moving with keyless access and available wireless charging for compatible devices, just two
          of the many 2022 Atlas features.
        </p>
      </p-accordionTab>
      <p-accordionTab header="Phương tiện và màn hình cảm ứng">
        <p>Besides looking great, the sleek glass on the available touchscreen navigation system helps make the map more
          prominent, while dynamic route guidance can assist you with turn-by-turn information.</p>
      </p-accordionTab>
      <p-accordionTab header="Buồng lái kỹ thuật số volkswagen">
        <p>The innovative VW Digital Cockpit, loaded with state-of-the-art navigation features, displays driving
          information in high resolution. Select trims will have the available VW Digital Cockpit Pro, loaded with
          customizable features for an easy, intuitive user experience.</p>
      </p-accordionTab>
      <p-accordionTab header="Âm thanh">
        <p>The innovative VW Digital Cockpit, loaded with state-of-the-art navigation features, displays driving
          information in high resolution. Select trims will have the available VW Digital Cockpit Pro, loaded with
          customizable features for an easy, intuitive user experience.</p>
      </p-accordionTab>
      <p-accordionTab header="Hỗ trợ người lái">
        <p>The innovative VW Digital Cockpit, loaded with state-of-the-art navigation features, displays driving
          information in high resolution. Select trims will have the available VW Digital Cockpit Pro, loaded with
          customizable features for an easy, intuitive user experience.</p>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>