<!-- <div class="footer">
  <div class="separate"></div>
  <div class="row" style="padding-left:20px;padding-right:20px;">
    <div class="col-sm-3 col-6">
      <div class="footerTitle">Volkswagen Việt Nam</div>
      <a href="#" class="footerLink">Về Volkswagen Việt Nam</a>
      <a href="#" class="footerLink">Liên hệ</a>
      <a href="#" class="footerLink">Chính sách bảo mật</a>
      <a href="#" class="footerLink">Chủ sở hữu và người dùng</a>
      <a href="#" class="footerLink">Hệ thống đại lý</a>
    </div>
    <div class="col-sm-3 col-6">
      <div class="footerTitle">Sản phẩm</div>
      <a href="https://www.vw.com.vn/vi/sanpham/teramont.html" class="footerLink">Teramont</a>
      <a href="https://www.vw.com.vn/vi/sanpham/tiguanallspace.html" class="footerLink">Tiguan </a>
      <a href="https://www.vw.com.vn/vi/sanpham/passat.html" class="footerLink">Passat</a>
      <a href="https://www.vw.com.vn/vi/sanpham/polo.html" class="footerLink">Polo</a>
    </div>
    <div class="col-sm-3 col-6">
      <div class="footerTitle">Liên kết hàng đầu</div>
      <a href="https://www.vw.com.vn/app/dccforms/vw-vn/service/vi" class="footerLink">Đặt hẹn dịch vụ</a>
      <a href="https://www.vw.com.vn/vi/volkswagen-dealer-search.html" class="footerLink">Hệ thống đại lý </a>
      <a href="https://www.vw.com.vn/app/dccforms/vw-vn/testdrive/vi" class="footerLink">Lái thử xe </a>
      <a href="#" class="footerLink">Sửa chữa và dịch vụ</a>
      <a href="#" class="footerLink">Phụ kiện & phong cách sống</a>
    </div>
    <div class="col-sm-3 col-6">
      <div class="footerTitle">Liên hệ</div>
      <a href="#" class="footerLink">Hotline CSKH: 1900 2929 98</a>
      <a href="#" class="footerLink">Email: info@vw.com.vn </a>
      <div class="footerTitleSocial">
        Kết nối với chúng tôi:
      </div>
      <div class="wrapIconSocial">
        <img src="./assets/images/face.svg" alt="">
        <img src="./assets/images/youtube.svg" alt="">
      </div>
    </div>
    <div class="col-12" style="height:20px"></div>
    <div class="col-12 col-sm-6" style="margin-top:20px">
      <div class="pageNavigation">
        <a href="#" class="pageNavigationLink">Dấu ấn</a>
        <div class="pageNavigationLinkSeparate"></div>
        <a href="#" class="pageNavigationLink">Pháp lý</a>
        <div class="pageNavigationLinkSeparate"></div>
        <a href="#" class="pageNavigationLink">Điều kiện sử dụng</a>
        <div class="pageNavigationLinkSeparate"></div>
        <a href="#" class="pageNavigationLink">Chính sách</a>
        <div class="pageNavigationLinkSeparate"></div>
        <a href="#" class="pageNavigationLink">Hỗ trợ</a>
      </div>
    </div>
    <div class="col-12 col-sm-6" style="margin-top:20px;display:flex">
      <div class="pageNavigationLink">© Volkswagen Việt Nam 2022</div>
      <div class="pageNavigationLinkSeparate"></div>
      <div class="pageNavigationLink">All rights reserved</div>
    </div>
  </div>
  <div class="separateLight"></div>
  <div class="footerText">
    Mọi thông tin, hình ảnh, màu sắc và thông số kỹ thuật có trong trang website này được trình bày dưới hình thức tham
    khảo, hướng dẫn chung về các sản phẩm và phụ kiện được cung cấp bởi Volkswagen Việt Nam. Mọi nỗ lực nhằm đảm bảo
    tính chính xác và cập nhật nhưng tuyệt đối không phải hoàn toàn không có lỗi. Trong một số trường hợp, các hình ảnh
    sản phẩm nước ngoài hiển thị theo hướng dẫn. Do đó, cả Volkswagen AG và Volkswagen Việt Nam đều không chịu trách
    nhiệm cho bất kỳ thiệt hại nào từ việc truy cập hoặc sử dụng trang web này và nội dung của nó.
  </div>

</div> -->

<div class="footer">
    <div class="separate"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3 col-xl-2 center-container" style="margin-top: 70px">
                <div style="display: flex; flex-direction: column">
                    <p><strong>Volkswagen Việt Nam</strong></p>
                    <h4 style="font-size: 1.2rem">HOTLINE</h4>
                    <a href="tel:1900292998" target="_blank" class="mobile-size"
                        style="padding: 5px 5px 5px 0; margin-bottom: 5px">
                        <i class="fa-solid fa-phone" style="color: #001e50; margin-right: 5px"></i>
                        <span style="color: #2552ff; font-weight: 500">1900 2929 98</span>
                    </a>
                    <a href="mailto:info@vw.com.vn" class="contact d-block mobile-size" id="mailto"
                        style="padding: 5px 5px 5px 0">
                        <i class="fa-solid fa-envelope" style="color: #001e50; margin-right: 5px"></i>
                        <span style="color: #2552ff; font-weight: 500" id="mailText">info@vw.com.vn</span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-5 col-xl-4 center-container" style="margin-top: 70px">
                <div class="center-container-item-2" style="display: flex; flex-direction: column; padding: 0 20px 0 20px">
                    <div >
                        <p><strong>Công ty TNHH Trend Motor Việt Nam.</strong></p>
                        <p>
                            <strong>MST: </strong>0313590854, cấp ngày 25 tháng 12 năm 2015
                            tại Sở kế hoạch và đầu tư TP Hồ Chí Minh.
                        </p>
                        <p>
                            <strong>Địa chỉ:</strong> Lầu 7, Tòa nhà HPL, Số 60 Nguyễn Văn
                            Thủ, Phường Đa Kao, Quận 1, Thành phố Hồ Chí Minh.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4 col-xl-2 center-container" style="margin-top: 70px">
                <a href="https://en.volkswagen.com/en.html" target="_blank" class="mobile-size">
                    <strong style="color: #001e50">Volkswagen international</strong>
                </a>
                <div class="space-separate"></div>
                <div style="display: flex; flex-direction: column">
                    <h4 style="font-size: 1rem">Kết nối với Volkswagen</h4>
                    <a href="https://www.facebook.com/VolkswagenVietnamOfficial/" target="_blank" class="mobile-size"
                        style="padding: 5px 5px 5px 0">
                        <i class="fa-brands fa-facebook" style="color: #097eeb; margin-right: 5px"></i>
                        <strong>Facebook</strong>
                    </a>
                    <a href="https://www.youtube.com/channel/UCQBeJtljPn3DNmJlwfzk4rQ" target="_blank"
                        class="mobile-size" style="padding: 5px 5px 5px 0; margin-top: 5px">
                        <i class="fa-brands fa-youtube" style="color: #ff0000; margin-right: 5px"></i>
                        <strong>YouTube</strong>
                    </a>
                    <a href="https://www.linkedin.com/company/volkswagen-vietnam/" target="_blank"
                        class="mobile-size" style="padding: 5px 5px 5px 0; margin-top: 5px">
                        <img style="width: 16px; height:16px; margin-right:5px;" src="./assets/images/social/linkedin.png" alt="">
                        <!-- <i class="fa-brands fa-linkedin" style="color: #2806e9; margin-right: 5px"></i> -->
                        <strong>Linkedin</strong>
                    </a>
                    <a href="https://www.instagram.com/volkswagen.vietnam/" target="_blank"
                        class="mobile-size" style="padding: 5px 5px 5px 0; margin-top: 5px">
                        <img style="width: 16px; height:16px;  margin-right:5px;" src="./assets/images/social/instagram.png" alt="">
                        <strong>Instagram</strong>
                    </a>
                    <a href="https://www.tiktok.com/@volkswagenvietnam?lang=vi-VN" target="_blank"
                        class="mobile-size" style="padding: 5px 5px 5px 0; margin-top: 5px">
                        <img style="width: 16px; height:16px; margin-right:5px;" src="./assets/images/social/tiktok-icon.png" alt="">
                        <!-- <i class="fa-brands fa-tiktok"  style="color: #2806e9; margin-right: 5px"></i> -->
                        <strong>Tiktok</strong>
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-6 col-xl-4 center-container" style="margin-top: 70px">
                <div style="display: flex; flex-direction: column">
                    <h4 style="font-size: 1.2rem">ĐĂNG KÝ NHẬN THÔNG TIN</h4>
                    <p>
                        Đăng ký nhận thông tin chương trình khuyến mãi, dịch vụ từ
                        Volkswagen Việt Nam.
                    </p>
                    <div style="
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
            ">
                        <input class="footer-input" name="email" type="email" id="customer-subcribe-mail"
                            placeholder="Nhập email của quý khách" />
                        <div class="btn-outline" (click)="subscribe()">Đăng ký</div>
                    </div>
                    <p style="margin-top: 10px">
                        Bằng cách đăng ký, Quý khách xác nhận đã đọc, hiểu và đồng ý với
                        <a href="/privacy-policy" class="mobile-size" target="_blank"
                            style="display: inline-block; color: #2552ff; font-weight: 500">Chính sách quyền riêng
                            tư</a>
                        của Volkswagen Việt Nam.
                    </p>
                </div>
                <div class="row" style="margin-top: 25px; margin-bottom: 25px">
                    <div class="col-12">
                        <div class="sepaLight" style="width:290px;"></div>
                        <div class="d-lg-flex d-block text-center align-items-right">
                            <a href='http://online.gov.vn/Home/WebDetails/96622' target="_blank"><img alt='' title='' class="img-bct"
                                    src='./assets/images/BCT/logoSaleNoti.png' /></a>
                            <div>
                                <p style="margin: 5px 0 0 0 !important">
                                    <small>All rights reserved.</small>
                                </p>
                                <p style="margin: 0px !important">
                                    <small>©  Volkswagen Viet Nam 2023</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-12 col-sm-4" style="margin-top: 70px">
                <div style="display: flex; flex-direction: column">
                    <a href="https://www.facebook.com/VolkswagenVietnamOfficial/" target="_blank"
                        class="mobile-size">Facebook</a>
                    <a href="https://www.youtube.com/channel/UCQBeJtljPn3DNmJlwfzk4rQ" target="_blank"
                        class="mobile-size" style="margin-top: 10px">YouTube</a>
                </div>
            </div> -->
            <!-- <div class="col-12 col-sm-4" style="margin-top: 70px">
        <div style="display: flex; flex-direction: column">
          <span> Bằng cách đăng ký, Quý khách xác nhận đã đọc, hiểu và đồng ý với
            <a
              href="https://www.vw.com.vn/vi/legal.html"
              class="mobile-size"
              style="display: inline-block; color: #2552ff; font-weight: 500;"
              >Chính sách quyền riêng tư</a
            >
            của Volkswagen
          </span>
        </div>
      </div> -->
        </div>
        <div class="row footerLegal" style="margin: 50px 0 40px 0; text-align: center">
            <div class="col-12">
                <a href="https://www.vw.com.vn/vi/imprint.html" class="mobile-size" target="_blank"
                    style="display: inline-block">Imprint</a>
                <span class="sepaVertical"></span>
                <!-- <a href="/legal" class="mobile-size" target="_blank" style="display: inline-block">Pháp lý</a> -->
                <div style="cursor: pointer; display: inline-block" class="dropdown" (click)="showListPolicy()">
                    <span class="dropdown-toggle"> Pháp lý </span>
                    <ul class="dropdown-menu" id="dropdown-list-policy">
                        <li>
                            <a href="/legal" class="dropdown-item" type="button" target="_blank">
                                Tất cả chính sách
                            </a>
                        </li>
                        <li>
                            <a href="/user-policy" class="dropdown-item" type="button" target="_blank">
                                Chính sách bảo mật thông tin người dùng
                            </a>
                        </li>
                        <li>
                            <a href="/delivery-policy" class="dropdown-item" type="button" target="_blank">Chính sách
                                giao nhận</a>
                        </li>
                        <li>
                            <a href="/payment-policy" class="dropdown-item" type="button" target="_blank">
                                Phương thức thanh toán
                            </a>
                        </li>
                        <li>
                            <a href="/insurance-policy" class="dropdown-item" type="button" target="_blank">
                                Chính sách bảo hành sản phẩm
                            </a>
                        </li>
                    </ul>
                </div>

                <span class="sepaVertical"></span>
                <a href="https://www.vw.com.vn/vi/cookies.html" class="mobile-size" target="_blank"
                    style="display: inline-block">Cookies</a>
            </div>
        </div>

        <div class="footerLegal" style="display: flex; justify-content: space-around; margin-bottom: 10px; flex-wrap: wrap;">
            <div>
                <a href="/legal" class="dropdown-item" type="button" target="_blank">
                    Tất cả chính sách
                </a>
            </div>
            <div>
                <a href="/user-policy" class="dropdown-item" type="button" target="_blank">
                    Chính sách bảo mật thông tin người dùng
                </a>
            </div>
            <div>
                <a href="/delivery-policy" class="dropdown-item" type="button" target="_blank">Chính sách giao nhận</a>
            </div>
            <div>
                <a href="/payment-policy" class="dropdown-item" type="button" target="_blank">
                    Phương thức thanh toán
                </a>
            </div>
            <div>
                <a href="/insurance-policy" class="dropdown-item" type="button" target="_blank">
                    Chính sách bảo hành sản phẩm
                </a>
            </div>
        </div>


    </div>
    <div class="separateMedium"></div>
    <h6>Từ chối bởi Volkswagen Vietnam</h6>
    <p class="text-content" class="mobile-size">
        Mọi thông tin, hình ảnh, màu sắc và thông số kỹ thuật có trong trang website
        này được trình bày dưới hình thức tham khảo, hướng dẫn chung về các sản phẩm
        và phụ kiện được cung cấp bởi Volkswagen Việt Nam. Mọi nỗ lực nhằm đảm bảo
        tính chính xác và cập nhật nhưng tuyệt đối không phải hoàn toàn không có
        lỗi. Trong một số trường hợp, các hình ảnh sản phẩm nước ngoài hiển thị theo
        hướng dẫn. Do đó, cả Volkswagen AG và Volkswagen Việt Nam đều không chịu
        trách nhiệm cho bất kỳ thiệt hại nào từ việc truy cập hoặc sử dụng trang web
        này và nội dung của nó.
    </p>
</div>