.toast-container {
    z-index: 9999999;
    position: fixed;
    top: 0;
    right: 0;
}
.wrap {
    position: relative;
    color: black;

    .banner {
        width: 100%;
        max-height: 500px;
        object-fit: cover;
    }

    .wrap-name {
        min-width: 50%;
        background: #00285c;
        display: inline-block;
    }

    .doawload-brochure {
        display: flex;
        align-items: center;

        .brochure {
            padding: 10px 30px;
            margin: 0 20px;
            display: block;
            border: 2px solid #00285c;
            border-radius: 30px;
            color: #00285c;
            text-decoration: none;
        }

        .brochure:hover {
            background: #f3f4f5;
        }

        .line {
            flex: 1;
            height: 2px;
            background: rgb(223, 228, 232);
        }
    }
}

a {
    text-decoration: none;
}

img,
video {
    width: 100%;
    object-fit: cover;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px !important;
    }
}

.booking {
    background: #00285c;

    .btn-book {
        display: inline-block;
        color: rgb(0, 30, 80);
        padding: 10px 20px;
        background: #fff;
        border-radius: 40px;
    }

    img {
        width: 100%;
        object-fit: cover;
    }
}

.list-info {
    list-style: none;

    .item-info {
        display: flex;

        &::before {
            content: "";
            display: inline-block;
            min-width: 15px;
            height: 2px;
            background: black;
            margin-right: 15px;
            position: relative;
            top: 10px;
        }
    }
}

.link {
    // font-family: Noto Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #001e50;
    cursor: pointer;
}

:host ::ng-deep .p-accordion-header-link {
    text-decoration: none;
}

@media only screen and (max-width: 576px) {
    .wrap {
        .wrap-name {
            width: 100%;
        }
    }

    .banner {
        max-height: 620px !important;
    }
}

// custome accordion
::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link {
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
}

::ng-deep .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
    background: transparent;
    border-bottom: none;
}

::ng-deep .p-accordion .p-accordion-content {
    border-top: none;
    border-right: none;
    border-left: none;
}

::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link,
::ng-deep .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
    font-weight: 700;
    color: #000;
}
