/* Service */
.service{
  font-family: Roboto;
  .title{
      margin-top: 100px;
  }
  .wrapServiceItem{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-left: 6vw;
      padding-right: 6vw;



  }
  .serviceItem{
      // margin: 15px;
      width: 40vw;
      // max-width: 350px;
      margin-top: 30px;
      // overflow: hidden;
      img{
          width: 100%;
      }
      a{
          // font-family: Noto Sans;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;  
          text-decoration-line: underline;
          color: #001E50;
      }
      .serviceItemTitle{
          // font-family: Noto Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 27px;
          color: #000000;
          margin-top: 10px;
      }

  }

}
//  mobile
@media only screen and (max-width:576px){

  .service{
      font-family: Roboto;
      .wrapServiceItem{
          display: flex;
          justify-content: space-evenly;
          flex-wrap: wrap;
          padding-left: 0;
          padding-right: 0;
          .serviceItem{
              width: calc(100vw - 30px);
          }
  
      }
      .serviceItemTitle{
        font-size: 24px !important;
    }
  
  }
}